[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-environ = "*"
whitenoise = "*"
gunicorn = "*"
django-registration-redux = "*"
djangorestframework = "*"
boto3 = "*"
django-storages = "*"
pillow = "*"
djoser = "*"
django-cors-headers = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.10"
